<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>web file transfer</title>
        <script src="assets/axios.min.js"></script>
        <link rel="stylesheet" href="assets/common.css">
        <link rel="stylesheet" href="assets/login.css">
        <link rel="shortcut icon" href="assets/favicon.ico">
    </head>
    <body>
        <form>
            <input type="password" id="key">
            <button type="button" onclick="login()">验证</button>
        </form>
        <script src="assets/login.js"></script>
    </body>
</html>